* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}

/* COLOR THEME color: #38b6ff; */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: 80px;
}

.nav__logo--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
}

.nav__link--btn {
  background-color: #38b6ff;
  padding: 8px;
  border-radius: 20px;
  color: white;
}


/* HOME */

.home__body--container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.row {
  max-width: 75%;
}

.row__home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__body--header {

}




/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38b6ff;
  height: 100px;
  text-align: center;
}