* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}

/* COLOR THEME color: #38b6ff; */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.btn {
  cursor: pointer;
}

.btn__arrows {
  padding: 4px 6px;
}

/* NAVIGATION */

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: 80px;
  background-color: #38b6ff;
}

.nav__logo--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav__header--text {
  color: white;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.nav__link--btn {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  color: #38b6ff;
  font-weight: 600;
  cursor: not-allowed;
}

.search__bar--header {
  font-size: 32px;
  color: #38b6ff;
}

#search__bar--form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

#search__bar--input {
  border-radius: 10px;
  padding-left: 8px;
  width: 280px;
  height: 40px;
}

.search__button {
  background-color: #38b6ff;
  color:white;
  padding: 4px;
  border-radius: 10px;
  height: 40px;
  width: 80px;
}

/* HAMBURGER MENU */

.hamburger-menu {
  display: none;
  position: relative;
}

.hamburger {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 550px;
  background-color: black;
  opacity: 0.9;
  border-radius: 5px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger__menu--link {
  text-decoration: none;
  color: #38b6ff;
}

.menu__hamburger--links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hamburger__menu--link-contact {
  cursor: not-allowed;
}

/* HOME */

.body__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row {
  max-width: 75%;
}

.row__home {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 100px;
}


.row__movie {
  margin-top: 16px;
}

.home__body--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 110px;
  /* transform: translateY(50px); */
}

/* .home__body__figure {
  height: 2000px;
} */





/* MOVIES PAGE */


.row__movie {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 50px;
}

.movie__header__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.movies__search--header {
  margin: 0 auto;
}

.search__results--text {
  color: #38b6ff;
}


.movie__container--list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.arrow__key--pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 32px 0;
  /* border: 1px solid black; */
}

.movie__poster {
  width: 300px; 
  height: 400px;
  object-fit: contain;
  /* background-size: cover;
  background-image: url("./assets/smooth-gray-background-with-high-quality.jpg"); */
}

.movie__poster--skeleton {
  width: 300px; 
  height: 400px;
  object-fit: contain;
  background-color: lightgray;
}


/* MOVIE INFORMATION PAGE */

.movie__information--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie__information--body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* height: 500px; This is causing the container to not expand, therefore causing container overflow issues */
  margin: 0 200px;
  margin-top: 80px;
}

.movie__information--text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.back__button__container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 16px;
  margin-left: 60px;
}

.movie__plot--header {
  font-weight: 600;
}

.plot__summary {
  line-height: 1.4;
}




/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38b6ff;
  height: 100px;
  text-align: center;
  margin-top: auto;
}



/* 1024px Resolution */

@media (max-width: 1024px) {
  .movie {
      width: calc(100% / 2);
  }
  .movie__information--body {
    /* overflow: auto; */
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
  }
  .plot__summary {
    display: flex;
    flex-direction: column;
  }
}



/* 768px Resolution */

/* hamburger menu */
@media (max-width: 768px) {
  .movie {
      width: 100%;
  }
  .movie__header__container {
    flex-direction: column;
  }
  .movies__search--header {
    text-align: center;
  }
  #dropdown__sort--bar {
    margin-bottom: 40px;
  }
  .nav__links {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }

}




/* 550px */
@media (max-width: 550px) {


}