* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}

/* COLOR THEME color: #38b6ff; */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: 80px;
}

.nav__logo--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
}

.nav__link--btn {
  background-color: #38b6ff;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}


/* HOME */

.home__body--container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.row {
  max-width: 75%;
}

.row__home {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 100px;
}

.home__body--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 110px;
  /* transform: translateY(50px); */
}

#search__bar--form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

#search__bar--input {
  border-radius: 10px;
  padding-left: 8px;
  width: 280px;
  height: 40px;
}

.search__button {
  background-color: #38b6ff;
  color:white;
  padding: 4px;
  border-radius: 10px;
  height: 40px;
  width: 80px;
}


/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38b6ff;
  height: 100px;
  text-align: center;
}