* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}

/* COLOR THEME color: #38b6ff; */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn {
  cursor: pointer;
}

/* NAVIGATION */

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: 80px;
}

.nav__logo--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav__header--text {
  color: #38b6ff;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
}

.nav__link--btn {
  background-color: #38b6ff;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  cursor: not-allowed;
}

.search__bar--header {
  font-size: 32px;
  color: #38b6ff;
}

#search__bar--form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

#search__bar--input {
  border-radius: 10px;
  padding-left: 8px;
  width: 280px;
  height: 40px;
}

.search__button {
  background-color: #38b6ff;
  color:white;
  padding: 4px;
  border-radius: 10px;
  height: 40px;
  width: 80px;
}


/* HOME */

.body__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row {
  max-width: 75%;
}

.row__home {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 100px;
}


/* .row__movie--page {

} */

.home__body--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 110px;
  /* transform: translateY(50px); */
}

/* .home__body__figure {
  height: 2000px;
} */





/* MOVIES PAGE */


.row__movie {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 50px;
}

.movie__header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies__search--header {
  margin: 0 auto;
}

#dropdown__sort--bar {
  /* margin-left: 60px; */
}

.movie__container--list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.arrow__key--pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 32px 0;
  /* border: 1px solid black; */
}

.movie__poster {
  width: 300px; 
  height: 400px;
  object-fit: contain;
}


/* MOVIE INFORMATION PAGE */

.row__movie--info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.back__button__container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-left: 60px;
}


.movie__plot--header {
  font-weight: 600;
}






/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38b6ff;
  height: 100px;
  text-align: center;
  margin-top: auto;
}